[Bb]in
Depends
Deploy/*.msi
Deploy/*.wixpdb
Deploy/Package
Deploy/Wxs
Export
[Oo]bj
[Pp]ackages
AssemblyInformationalVersion.cs
build_version.html
Client/Repository/Temp/*
_ReSharper*
*.suo
*.nupkg
*.bom
*.dll
*.pdb
*.user
*.orig
.nuget/*/*
nuget.exe
/Dependencies/ScenarioBuildTools/*
!*.proj

